{% extends "base.html.twig" %}
{% block title %}
	Catalogue offres clients
{% endblock %}
{% block body %}
	<main>
		{% if offres %}
			<div class="cards-container">
				{% for offre in offres %}
					<div class="card card-offre">
						<div class="card-header">
						<div class="card-title">
						<span class="title-text">{{offre.sport.intitule}}</span>
						</div>
						<img src="#" alt="#" class="card-image">
							<span class="dates-offres">Du
								{{offre.dateDebut|date("d-m-Y H:i")}}
								au
								{{offre.dateFin|date("d-m-Y H:i")}}
							</span>
							<span class="intitule">
								{{offre.intitule}}</span>
						</div>
						<div class="card-content">{{offre.description}}</div>
						<div class="card-footer">

								<div class="row">
									<span>Adultes :
										{{offre.nbrAdultes}}</span>
									<span>Enfants :
										{{offre.nbrEnfants}}</span>
								</div>
						
							<span class="prix text-right">{{offre.prix}}
								€</span>
							<a href="{{path('app_cart_add',{id:offre.id})}}" class="btn btn-primary">Ajouter au panier</a>

						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			Il n'existe aucune offre enregistrée dans la base de données
		{% endif %}
		<div class="pagination">
		{# {{ knp_pagination_render(offres) }} #}
		</div>
	</main>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/cards.css')}}">
{% endblock %}
