{% extends 'base.html.twig' %}
{% block title %}
	Liste des sports
{% endblock %}
{% block body %}

	<H1 class="text-center">Liste des disciplines sportives</H1>
	<a href="{{path('app_sports_new')}}" class="btn btn-primary">
		<i class="fa-solid fa-circle-plus"></i>Ajouter une discipline sportive</a>
	<table>
		<thead>
			<th></th>
			<th>Intitulé</th>
			<th></th>
		</thead>
		<tbody>

			{% for sport in sports %}
				<tr>
					<td class="cell-actions text-center">
						<a href="{{path('app_sports_edit',{slug:sport.slug})}}" class="btn-action btn-open ">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>

					</td>
					<td>{{ sport.emoji }}
						{{sport.intitule}}</td>
					<td>
						{# Bouton de suppression par formulaire POST #}
						<form method="post" action="{{ path('app_sports_delete', {'id': sport.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce sport ?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sport.id) }}">
							<button class="btn-action btn-delete" value="delete">
								<i class="fa-solid fa-trash-can"></i>
							</button>
						</form>
					</td>
				</tr>
			{% else %}
				<p>Il n'existe encore aucune discipline sportive enregistrée dans la base.</p>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/table.css')}}">
{% endblock %}
