{% extends 'base.html.twig' %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}

	{{ form_start(form) }}
	<caption>
		<h1 class="text-center">
			<i class="fa-solid fa-circle-plus"></i>
			{{title}}</h1>
	</caption>
	{{ form_row(form.intitule) }}
	{{ form_errors(form.intitule) }}
	{{ form_row(form.background_color) }}
	{{ form_row(form.icone) }}
	{{ form_row(form.slug) }}
	<button type="submit" class="btn btn-primary">
		<i class="fa-solid fa-floppy-disk"></i>Enregistrer</button>
	{{ form_end(form) }}


{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/form.css')}}">
{% endblock %}
