{% extends 'base.html.twig' %}
{% block title %}
	Catégories d'offres
{% endblock %}
{% block body %}

	<h1 class="text-center">Catégories d'offres</h1>
	<a href="{{path('app_categories_offres_new')}}" class="btn btn-primary">
		<i class="fa-solid fa-circle-plus"></i>Créer une catégorie</a>

	<table>
		<thead>
			<th></th>
			<th>Intitulé</th>
			<th></th>
		</thead>
		<tbody>
			{% for c in categoriesOffres %}
				<tr>
					<td class="text-center">
						<a href="{{path('app_categories_offres_edit',{slug:c.slug})}}">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
					</td>
					<td>{{c.nom}}</td>
					<td class="text-center">
						<form method="post" class="submit-btn-form" action="{{ path('app_categories_offres_supprimer', {'id': c.id}) }}" onsubmit="return confirm('Supprimer cette catégorie d\'offre ?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete-categorie' ~ c.id) }}">
							<button type="submit" class="btn-action btn-delete">
								<i class="fa-solid fa-trash-can"></i>
							</button>
						</form>
					</td>

				</tr>
			{% else %}
				<p class="text-center">Il n'existe encore aucune catégorie d'offre enregistrée.</p>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/table.css')}}">
{% endblock %}
