{% extends 'base.html.twig' %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}

	<h1 class="text-center">
		<i class="fa-solid fa-circle-plus"></i>
		{{title}}</h1>
	{{ form_start(form) }}
	{{ form_row(form.nom) }}
	{{ form_row(form.icone) }}
	{{ form_row(form.description) }}
	{{ form_row(form.slug) }}
	<button type="submit" class="btn btn-primary">
		<i class="fa-solid fa-floppy-disk"></i>Enregistrer</button>
	{{ form_end(form) }}

{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/form.css')}}">
{% endblock %}
