{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}

	<a class="btn btn-primary mb-3" href="{{ path('app_offres_index') }}">
		<i class="fa-solid fa-list"></i>
		Retour à la liste
	</a>

	<h1 class="text-center">{{ title }}</h1>

	{{ form_start(form) }}

	<div class="mb-3">
		{{ form_label(form.imageFile) }}
		{{ form_widget(form.imageFile, {'attr': {'onchange': 'previewImage(event)'}}) }}
		{{ form_errors(form.imageFile) }}
	</div>

	<div class="mb-3">
		{% if offre.image %}
			<img id="preview" src="{{ asset('uploads/img/offres/' ~ offre.image) }}" alt="Image actuelle" style="max-width:200px; display:block;">


			<button type="button" class="btn btn-danger mt-2" onclick="confirmDeleteImage('{{ path('app_offres_delete_image', {'id': offre.id}) }}')">
				<i class="fa-solid fa-trash"></i>
				Supprimer l'image
			</button>
		{% else %}
			<img id="preview" src="" alt="Prévisualisation" style="max-width:200px; display:none;">
		{% endif %}
	</div>

	<div class="isLocked isPublished row-horizontal">
		{{ form_row(form.isLocked) }}
		{{ form_row(form.isPublished) }}
	</div>
	<div class="row-horizontal">
		{{ form_row(form.date_debut) }}
		<span class="text-right">{{ form_row(form.date_fin) }}</span>
	</div>

	<div class="row-horizontal">
		{{ form_row(form.nbr_adultes) }}
		{{ form_row(form.nbr_enfants) }}
	</div>

	{{ form_row(form.code) }}
	{{ form_row(form.intitule) }}
	{{ form_row(form.description) }}

	{{ form_label(form.prix) }}
	{{ form_widget(form.prix) }}
	{{ form_errors(form.prix) }}


	<div class="row-horizontal">
		{{ form_row(form.created_at) }}
		{{ form_row(form.updated_at) }}
	</div>

	<div class="text-center">
		<button type="submit" class="btn btn-primary">
			<i class="fa-solid fa-floppy-disk"></i>
			Enregistrer
		</button>
	</div>

	{{ form_end(form) }}

{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
{% endblock %}

{% block javascripts %}
	<script>
		function previewImage(event) {
const preview = document.getElementById('preview');
const file = event.target.files[0];
if (file) {
preview.src = URL.createObjectURL(file);
preview.style.display = 'block';
} else {
preview.style.display = 'none';
preview.src = '';
}
}

function confirmDeleteImage(url) {
if (confirm("Voulez-vous vraiment supprimer cette image ?")) {
window.location.href = url;
}
}
	</script>
{% endblock %}
