{% extends 'base.html.twig' %}
{% block title %}
	{{title}}
{% endblock %}
{% block body %}
	<main>
		<a class="text-center" href="{{ path('app_offres_index') }}" class="btn btn-secondary">Retour à la liste</a>

		{% block form %}
			{{ form_start(form) }}
			<h1 class="text-center">{{ title }}</h1>
			<div class="isLocked isPublished row">
				{{ form_row(form.isLocked) }}
				{{ form_row(form.isPublished) }}
			</div>
			<div class="row">
				{{ form_row(form.nbr_adultes) }}
				{{ form_row(form.nbr_enfants) }}
			</div>
			{{ form_row(form.code) }}
			<strong>{{ form_row(form.intitule) }}</strong>
			{{ form_row(form.description) }}
			{{ form_row(form.prix) }}
			<div class="row">
				{{ form_row(form.date_debut) }}
				{{ form_row(form.date_fin) }}
			</div>
			<div class="row">
				{{ form_row(form.created_at) }}
				{{ form_row(form.updated_at) }}
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-primary">Enregistrer</button>
				<a href="{{ path('app_offres_index') }}" class="btn btn-secondary">Retour à la liste</a>
			</div>
			{{ form_end(form) }}
		{% endblock %}
	</main>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
{% endblock %}
