{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<h1>Réinitialisation du mot de passe</h1>

	{{ form_start(resetPassForm) }}
	{{ form_row(resetPassForm.password) }}

	{# Checklist mot de passe réutilisable #}
	{% include '_partials/_password-checklist.html.twig' with { 'form': resetPassForm.password } %}

	<button type="submit" class="btn btn-success">
		<i class="fa-solid fa-paper-plane"></i>
		Envoyer
	</button>
	{{ form_end(resetPassForm) }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
{% endblock %}

{% block javascripts %}
	<script type="module" src="{{ asset('assets/js/password-check.js') }}"></script>
{% endblock %}
