{% extends 'base.html.twig' %}

{% block title %}Ticket - Commande
	{{ commande.reference }}
{% endblock %}

{% block body %}
	<a href="{{ path('app_commandes_liste') }}" class="btn btn-primary">
		<i class="fa-solid fa-list"></i>Retour à mes commandes</a>
	<h1>Votre ticket</h1>
	<p>Gardez soigneusement ce ticket avec vous, il vous sera demandé à la caisse.</p>

	<p>
		<strong>Commande :</strong>
		{{ commande.reference }}</p>
	<p>
		<strong>Payée le :</strong>
		{{ commande.payeeLe|date('d/m/Y H:i') }}</p>

	<div class="qr-code">
		{{ ticket.qrCodePath|raw }}
	</div>

	<p>
		<strong>Clé du ticket :</strong>
		{{ ticket.ticketKey }}</p>
	<p>
		<strong>Hash :</strong>
		{{ ticket.payloadHash }}</p>

{% endblock %}
