{# Affichage du nombre d'articles dans le panier (Ajax) #}
<div class="cart-total-items text-center">
	{% if totalItems >0 %}
		<span class="cart-items">{{totalItems}}</span>
		article(s) dans le panier
	{% else %}
		<span class="cart-items ">Aucun article dans le panier</span>
	{% endif %}
</div>
{# Fin affichage du nombre d'articles dans le panier (Ajax) #}
<table>
	<thead>
		<tr>
			<th>Offre</th>
			<th>Prix</th>
			<th></th>
			<th>Total</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for element in data %}
			<tr>
				<td>{{element.offre.intitule}}</td>
				<td class="text-right">{{element.offre.prix}}€</td>
				<td>
					<a href="{{path('app_cart_remove',{id:element.offre.id})}}" class="btn btn-success text-decoration-none btn-remove-from-cart" data-url="/cart/remove/{{element.offre.id}}">&minus;</a>
					<span class="text-right">{{element.quantite}}</span>
					<a href="{{path('app_cart_add',{id:element.offre.id})}}" class="btn btn-warning text-decoration-none btn-add-to-cart" data-url="/cart/add/{{element.offre.id}}">&plus;</a>
				</td>
				<td class="text-right">{{element.quantite * element.offre.prix}}€</td>
				<td>
					<a href="{{path('app_cart_delete',{id:element.offre.id})}}" class="btn btn-danger btn-delete-from-cart" data-url="/cart/delete/{{element.offre.id}}">
						<i class="fa-solid fa-trash-can"></i>
					</a>
				</td>
			</tr>
		</td>
	</tbody>
</tr></tbody>{% else %}<tr>
<td colspan="5">Votre panier est vide</td></tr>{% endfor %}</tbody><tfoot><tr><td colspan="3">Total</td><td class="text-right">{{total}}€</td>{# Affichage du bouton de vidage de panier seulement si le total est > 0 #}{% if total>0 %}
<td>
	<a href="{{path('app_cart_empty_cart')}}" class="btn btn-danger btn-empty-cart" data-url="/cart/cart-empty-cart">
		<i class="fa-solid fa-cart-shopping"></i>Vider le panier</a>
</td>{% endif %}</tr></tfoot></table>
