{% if offres %}

{% for offre in offres %}
					<div class="card card-offre">
						<div class="card-header">
						<div class="card-title">
					
					 <span class="text-center">Offre : {{offre.categorie.nom}}</span>
					</div>
					
					<div class="intitule">
								{{offre.intitule}}</div>				
						<img src="#" alt="#" class="card-image">
						</div>
						<div class="card-content">						
							<div class="dates-offres">Du
								{{offre.dateDebut|date("d-m-Y")}}
								au
								{{offre.dateFin|date("d-m-Y")}}
							</div>
						<ul class="liste-sports">
						{% for sport in offre.sport %}
						<li class="sport-item">{{sport.intitule}}</li>							
						{% endfor %}						
						</ul>					
										
						</div>
						<div class="card-footer">

								<div class="row">
									<div>Adultes :
										{{offre.nbrAdultes}}</div>
									<div>Enfants :
										{{offre.nbrEnfants}}</div>
								</div>
						
							<div class="prix text-right"><strong>{{offre.prix}}
								€</strong></div>
							<a href="{{path('app_cart_add',{id:offre.id})}}" class="btn btn-primary btn-add-to-cart"><i class="fa-solid fa-cart-plus"></i>Ajouter au panier</a>

						</div>
					</div>
				{% endfor %}
			</div>

		{% else %}
			Il n'existe aucune offre enregistrée dans la base de données
		{% endif %}