{# templates/_partials/_catalogue-offres-clients.html.twig #}

{% for offre in offres %}
	<article class="offer-card">
		{% if offre.categorie is defined %}
			<span class="offer-category">{{ offre.categorie.nom }}</span>
		{% endif %}
		<h3 class="offer-title">{{ offre.intitule }}</h3>
		<div class="offer-image">
			{% if offre.imagePath is defined and offre.imagePath %}
				<img src="{{ asset(offre.imagePath) }}" alt="{{ offre.intitule }}">
			{% else %}
				{# ✅ fallback si pas d’image, version locale #}
				<img src="{{ asset('assets/img/no-image.png') }}" alt="Pas d’image disponible">

			{% endif %}
		</div>

		<div class="offer-content">
			<div class="offer-sports">
				<ul class="sport-list">		
					{% for sport in offre.sports %}
						<li class="sport-items">{{sport.intitule}}</li>
					{% endfor %}
				</ul>
			</div>

			<div class="offer-meta">
				{% if offre.prix is defined %}
					<span class="offer-price">{{ offre.prix }}
						€</span>
				{% endif %}
				{% if offre.dateDebut is defined %}
					<span class="offer-date">À partir du
						{{ offre.dateDebut|date('d/m/Y') }}</span>
				{% endif %}
			</div>
		</div>
	</article>
{% endfor %}
