{# templates/_partials/_catalogue-offres-clients.html.twig #}

{% for offre in offres %}
	<article class="offer-card">
		{% if offre.categorie is defined %}
			<span class="offer-category">{{ offre.categorie.nom }}</span>
		{% endif %}
		<h3 class="offer-title">{{ offre.intitule }}</h3>
		<div class="offer-image">
			{% if offre.imagePath is defined and offre.imagePath %}
				<img src="{{ asset(offre.imagePath) }}" alt="{{ offre.intitule }}">
			{% else %}
				{# ✅ fallback si pas d’image, version locale #}
				<img src="{{ asset('assets/img/no-image.png') }}" alt="Pas d’image disponible">

			{% endif %}
		</div>

		<div class="offer-content">
			<div class="offer-sports">
				<ul class="sport-list">
					{% for sport in offre.sports %}
						<li class="sport-items">{{sport.emoji}}&nbsp;{{sport.intitule}}</li>
					{% endfor %}
				</ul>
			</div>

			<div class="offer-meta">
				{% if offre.dateDebut is defined %}
					<span class="offer-date">Du
						{{ offre.dateDebut|date('d/m/Y') }}
						au
						{{ offre.dateFin|date('d/m/Y') }}</span>
				{% endif %}
				<div class="offer-emplacement">
					{% for lieu in offre.lieux %}
						<span>{{lieu}}</span>
					{% endfor %}
				</div>
				{% if offre.prix is defined %}
					<span class="offer-price">{{ offre.prix }}
						€</span>
				{% endif %}
			</div>
		</div>
		<div class="offer-footer">
			<form method="POST" action="{{ path('panier_add', {'id': offre.id}) }}">
				<button type="submit" class="btn btn-primary">
					<i class="fa-solid fa-basket-shopping cart-icon"></i>Ajouter au panier</button>
			</form>

		</div>
	</article>
{% endfor %}
{% block javascripts %}
	<script src={{asset('assets/js/cart.js')}}></script>
{% endblock %}
