{% block body %}
	<div class="wrapper-liste-sports">

		{% for sport in sports %}
			<details class="accordion-child-item">
				<summary>
					<span class="sport-emoji">{{ sport.emoji }}</span>
					<span class="sport-intitule">{{ sport.intitule }}</span>
				</summary>
				<div class="content">
					<p>
						<strong>Description :</strong>
						{{ sport.description }}</p>
					<p>
						<strong>Règles :</strong>
						{{ sport.regles }}</p>
					<p>
						<strong>Durée match :</strong>
						{{ sport.dureeMatch }}</p>
				</div>
			</details>
		{% endfor %}

	</div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/accordion.css') }}">
{% endblock %}
