{% block body %}
	<div class="wrapper-liste-sports">

		{% for sport in sports %}
			<details>
				<div class="content">
					<span class="sport-description">Description :</span>
					<p>{{sport.description}}</p>
					<span class="sport-regles">Règles :</span>
					<p>{{sport.regles}}</p>
					<span class="sport-duree-match">Durée match :</span>
					{{sport.dureeMatch}}</div>
				<summary>
					<div class="sport-title-wrapper">
						<span class="sport-emoji">{{sport.emoji}}</span>
						<span class="sport-intitule"></span>
						{{sport.intitule}}</div>
				</summary>
			</details>
		{% endfor %}
	</div>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/accordion.css')}}">
{% endblock %}
