<nav
	class="navbar">
	{# Bouton menu #}
	<div class="navbar-header">
		<button class="hamburger" id="menuToggle">
			<span></span>
			<span></span>
			<span></span>
		</button>
		{# Logo #}
		<div class="navbar-brand">
			<img src="{{ asset('favicon.svg') }}" alt="sigle-jo" class="logo">
		</div>
	</div>
	{# Links #}
	<div class="navbar-links" id="navbarLinks">
		<div class="main-links">
			<a class="navbar-link" href="{{ path('app_main') }}">
				<i class="fa-solid fa-house"></i>
				Accueil</a>
			<a class="navbar-link" href="{{ path('app_offres_catalogue') }}">
				<i class="fa-solid fa-clipboard-list"></i>
				Catalogue offres</a>
			<a class="navbar-link" href="{{ path('app_docs_file', {'filename': 'userguide'}) }}">
				<i class="fa-solid fa-address-book"></i>
				Guide utilisateur</a>
		</div>

		<div class="connexion">
			{% if not app.user %}
				<a class="navbar-link" href="{{ path('app_login') }}">
					<i class="fa fa-sign-in"></i>
					Se connecter</a>
				<a class="navbar-link" href="{{ path('app_register') }}">
					<i class="fa fa-user-plus"></i>
					S'inscrire</a>
			{% else %}
				<a class="navbar-link" href="{{ path('app_logout') }}">
					<i class="fa fa-sign-out"></i>
					Déconnexion</a>
			{% endif %}
		</div>
	</div>
</nav>

<div id="menuOverlay" class="navbar-overlay"></div>

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}">
{% endblock %}
