<aside
	id="sidebar" class="sidebar">
	{# Dashboard #}
	<div class="sidebar-item">
		<div class="sidebar-item-title">
			<a href="{{ path('admin_dashboard') }}" class="sidebar-link">
				<i class="fa-solid fa-list"></i>
				Dashboard</a>
		</div>
	</div>
	<div class="sidebar-item">
		<div class="sidebar-item-title">
			<i class="fa-solid fa-users"></i>
			Utilisateurs</div>
		<a href="{{ path('app_utilisateurs_index') }}" class="sidebar-link">
			<i class="fa-solid fa-list"></i>
			Liste</a>
	</div>
	<div class="sidebar-item">
		<div class="sidebar-item-title">
			<i class="fa-solid fa-briefcase"></i>
			Offres</div>
		<a href="{{ path('app_offres_index') }}" class="sidebar-link">
			<i class="fa-solid fa-list"></i>
			Liste</a>
		<a href="{{ path('app_categories_offres_index') }}" class="sidebar-link">
			<i class="fa-solid fa-tags"></i>
			Catégories offres</a>
	</div>
	<div class="sidebar-item">
		<div class="sidebar-item-title">
			<i class="fa-solid fa-futbol"></i>
			Sports</div>
		<a href="{{ path('app_sports_index') }}" class="sidebar-link">
			<i class="fa-solid fa-list"></i>
			Liste</a>
	</div>
	<div class="sidebar-item">
		<div class="sidebar-item-title">
			<i class="fa-solid fa-qrcode"></i>
			QrCodes</div>
		<a href="{{ path('admin_tickets_scan') }}" class="sidebar-link">
			<i class="fa-solid fa-expand"></i>
			Scanner</a>
	</div>
</aside>
<!-- bouton flottant pour toggle -->
<button id="sidebar-toggle" class="sidebar-toggle">
	▶
</button>

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/sidebar.css') }}">
{% endblock %}
{% block javascripts %}
	<script type="module" src="{{asset('assets/js/sidebar.js')}}"></script>
{% endblock %}
