<div class="subnav-container">
	<button class="subnav-arrow" id="subnavLeft">‹</button>

	<div id="subnav" class="subnav">
		{% if app.user %}
			<div class="connected">
				Vous êtes connecté(e) en tant que &nbsp;
				<span class="nickname">{{ app.user.userIdentifier }}</span>
			</div>

			<div class="user-options">
				<div class="profile">
					<a class="nav-link" href="{{ path('app_profile_index') }}">
						<i class="fa-regular fa-address-card"></i>
						Mon profil
					</a>
				</div>

				{% if is_granted('ROLE_ADMIN') %}
					<a class="nav-link" href="{{ path('app_admin_index') }}">
						<i class="fa fa-cog"></i>
						Administration
					</a>
				{% endif %}
			</div>
		{% else %}
			<p class="text-center not-connected">
				Bonjour visiteur, vous n'êtes pas encore connecté(e).
			</p>
		{% endif %}
		
		{# Affichage du panier même sans connexion #}
		<div class="cart">
			<a href="{{ path('panier_index') }}" class="cart-button">
				<span class="cart-icon-wrapper">
					<i class="fa-solid fa-basket-shopping cart-icon"></i>
					<span id="cart-count" class="cart-badge">{{ totalItems|default(0) }}</span>
				</span>
				<span class="cart-label">Mon panier</span>
			</a>
		</div>

	</div>

	<button class="subnav-arrow" id="subnavRight">›</button>
</div>

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/subnav.css') }}">
{% endblock %}
