<!-- Subnav avec flèches -->
<div class="subnav-container">
	<button class="subnav-arrow" id="subnavLeft">‹</button>

	<div id="subnav" class="subnav">
		{% if app.user %}
			<div class="connected">
				Vous êtes connecté(e) en tant que &nbsp;
				<span class="nickname">{{ app.user.userIdentifier }}</span>
			</div>

			<div class="user-options">
				<div class="profile">
					<a class="nav-link" href="{{ path('app_profile_index') }}">
						<i class="fa-regular fa-address-card" aria-hidden="true"></i>
						Mon profil
					</a>
				</div>
				<div class="cart">
					<a href="{{ path('app_cart_index') }}">
						<i class="fa-solid fa-basket-shopping"></i>
						Mon panier
					</a>
				</div>
			</div>

			{% if is_granted('ROLE_ADMIN') %}
				<a class="nav-link" href="{{ path('app_admin_index') }}">
					<i class="fa fa-cog" aria-hidden="true"></i>
					Administration
				</a>
			{% endif %}
		{% else %}
			<p class="text-center not-connected">
				Bonjour visiteur, vous n'êtes pas encore connecté(e).
			</p>
		{% endif %}
	</div>

	<button class="subnav-arrow" id="subnavRight">›</button>
</div>

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/subnav.css') }}">
{% endblock %}
