{# ==============================
   Partial : Liste des utilisateurs (mode test sans pagination KNP)
   ============================== #}

<div class="text-center pagination-counter">
	{% if isPaginator %}
		{{ (utilisateurs.getCurrentPageNumber() - 1) * utilisateurs.getItemNumberPerPage() + 1 }}
		à
		{{
        (utilisateurs.getCurrentPageNumber() - 1) * utilisateurs.getItemNumberPerPage() + utilisateurs.getItemNumberPerPage()
        > utilisateurs.getTotalItemCount()
            ? utilisateurs.getTotalItemCount()
            : (utilisateurs.getCurrentPageNumber() - 1) * utilisateurs.getItemNumberPerPage() + utilisateurs.getItemNumberPerPage()
    }}
		sur
		{{ utilisateurs.getTotalItemCount() }}
	{% else %}
		1 à
		{{ utilisateurs|length }}
		sur
		{{ utilisateurs|length }}
	{% endif %}

</div>

{# ------------------------------
   Formulaire d’ajout d’un utilisateur
   ------------------------------ #}
{# Ajouter un nouvel utilisateur #}
<form action="{{path('app_utilisateurs_ajouter')}}" method="POST" class="submit-btn-form">
	<button class="btn btn-new text-center btn-primary" type="submit">
		<i class="fa-solid fa-circle-plus"></i>Ajouter un utilisateur</button>
</form>

{# ------------------------------
   Tableau utilisateurs
   ------------------------------ #}
<div class="pagination">
	{{ knp_pagination_render(utilisateurs) }}
</div>
<table>
	<thead>
		<tr>
			<th></th>
			<th scope="col">Nom</th>
			<th scope="col">Pseudo</th>
			<th scope="col">Email</th>
			<th scope="col">Vérifié</th>
			<th scope="col">Rôles</th>
			<th scope="col">Commandes</th>
			<th scope="col">Crée le</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		{% for u in utilisateurs %}
			<tr>
				<td class="text-center">
					<a class="btn-action btn-open" href="{{path('app_utilisateurs_modifier',{id:u.id})}}">
						<i class="fa-solid fa-pen-to-square"></i>
					</a>
				</td>
				<td data-label="Nom">
					<strong>{{u.lastname}}&nbsp;{{u.firstname}}</strong>
				</td>
				<td data-label="Pseudo">
					<strong>{{u.nickname}}</strong>
				</td>
				<td data-label="Email">
					{{u.email}}</td>
				<td data-label="Vérifié" class="text-center">{{u.isVerified ? '<span class="text-green"><i class="fa-solid fa-check"></i>Oui</span>':'<span class="text-red"><i class="fa-regular fa-circle-xmark"></i>Non</span>'}}
				</td>
				<td data-label="Rôles">
					{% for r in u.roles %}
						{{r|join(', ')}}
					{% endfor %}
				</td>
				{% if u.commandes %}
					<td data-label="Commandes">

						<a href="{{path('app_commandes_liste-commandes-client',{id:u.id})}}" class="btn-action">
							<i class="fa-solid fa-magnifying-glass"></i>
							{{u.commandes|length}}&nbsp;</a>
					</td>

				{% endif %}
				<td data-label="Créé le" class="text-muted text-right">{{u.createdAt|date('d-m-Y à H:i:s')}}</td>
				<td class="text-center">
					<form method="post" class="submit-btn-form" action="{{ path('app_utilisateurs_supprimer', {'id': u.id}) }}" onsubmit="return confirm('Supprimer cet utilisateur ?');">
						<input type="hidden" name="_token" value="{{ csrf_token('delete-user' ~ u.id) }}">
						<button type="submit" class="btn-action btn-delete">
							<i class="fa-solid fa-trash-can"></i>
						</button>
					</form>

				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<div class="pagination">
	{{ knp_pagination_render(utilisateurs) }}
</div>
{# ------------------------------
   Styles spécifiques
   ------------------------------ #}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
{% endblock %}
