{% extends 'base.html.twig' %}
{% block title %}
	Liste des utilisateurs
{% endblock %}
{% block body %}
	<h1 class="text-center">
		<i class="fa-solid fa-users"></i>Liste des utilisateurs</h1>
	{% if utilisateurs %}
		<form class="search-form">
			<div class="search-container">
				<input type="search" class="search-input" data-url="{{path('app_utilisateurs_rechercher')}}" placeholder="rechercher par pseudo / nom / email">
				<button type="submit" class="search-button">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</div>
		</form>
		{# Contenu requêté,en Ajax #}
		<div class="ajax-reloaded-content">
			{{ include('_partials/_users-list.html.twig') }}
		</div>
		{# Fin contenu Ajax  #}
	{% else %}
		<p class="text-center">Il n'existe encore aucun utilisateur enregistré dans la base de données</p>
	{% endif %}
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/table.css')}}"><link rel="stylesheet" href="{{asset('assets/css/form.css')}}">
{% endblock %}
{% block javascripts %}
	<script type="module" src="{{asset('assets/js/searchform.js')}}"></script>
{% endblock %}
