{% extends 'base.html.twig' %}

{% block title %}S'inscrire
{% endblock %}

{% block body %}
	<h1 class="text-center"><i class="fa-solid fa-user-plus"></i>S'inscrire</h1>
	<form method="post">

		{{ form_errors(registrationForm) }}
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.nickname) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword) }}
		<div class="flex items-center">
			{{ form_widget(registrationForm.agreeTerms) }}
			{{ form_label(registrationForm.agreeTerms) }}
		</div>

		<button type="submit" class="btn"><i class="fa-solid fa-user-plus"></i>S'inscrire</button>
		<p>Déjà inscrit ? connectez-vous
			<a href="{{ path('app_login') }}">ici</a>
		</p>
		{{ form_end(registrationForm) }}
	</form>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
{% endblock %}
