<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}JO 2024
			{% endblock %}
		</title>

		<link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/flashbag.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/pagination.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/layout.css') }}">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/css/sidebar.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/subnav.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/cart.css') }}">
		{% endblock %}

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
	</head>

	{% set sidebarVisible = is_granted('ROLE_ADMIN') and app.request.getSession().get('2fa_passed') %}

	<body class="{% if sidebarVisible %}sidebar-active{% endif %}">

		<div class="app">

			{% if sidebarVisible %}
				<aside class="sidebar">
					{{ include('_partials/_sidebar.html.twig') }}
				</aside>
			{% endif %}

			<div class="main-wrapper">
				{{ include('_partials/_navbar.html.twig') }}
				{{ include('_partials/_subnav.html.twig') }}

				<main class="main-content"> {% block body %}{% endblock %}
					</main>

					<footer class="footer">&copy; 2025 JO 2024</footer>
				</div>

			</div>

			<script src="{{ asset('assets/js/flashbags.js') }}"></script>
			<script>
				document.addEventListener("DOMContentLoaded", function () {
{% for label, messages in app.flashes %}
{% for message in messages %}
showFlashbag("{{ message|e('js') }}", "{{ label }}", 4000, "top-right");{% endfor %}
{% endfor %}
});
			</script>

			<script type="module" src="{{ asset('assets/js/navbar.js') }}"></script>
			<script type="module" src="{{ asset('assets/js/subnav.js') }}"></script>
			{% block javascripts %}{% endblock %}

		</body>
	</html>
